body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fb8989;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    background-color: #a98a8a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

canvas {
    border: 2px solid #333;
    background-color: #ff6060;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #00796b;
}

p {
    font-size: 18px;
    color: #004d40;
}